.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather-date{
  font-size: 1rem;
  color: #484569;
  letter-spacing: 0.3rem;
  text-align: center;
  font-family: "Lilita One";
}
.weather-city {
  font-size: 2rem;
  color: #484569;
  letter-spacing: 0.3rem;
  text-align: center;
  font-family: "Lilita One";
   word-break: break-word;
}
@media (max-width: 600px) {
  .weather-city{
    font-size: 1.5rem;
  }
}

.weather-country {
  font-size: 2rem;
  color: #484569;
  letter-spacing: 0.3rem;
  text-align: center;
  margin-left: 1rem;
}

.weather-location {
  display: flex;
  font-size: 2rem;
  color: #484569;
  letter-spacing: 0.3rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.weather-type {
  top: 18%;
  left: 50%;

  font-size: 2rem;
  color: #484569;
  font-family: "Lilita One";
  font-weight: 200;
  text-align: center;
}

.weather-temp {
  display: flex;
  flex-direction: column;
  top: 27%;
  left: 50%;
  font-size: 5rem;
  font-family: "Lilita One";
  background-image: linear-gradient(to right, #2f2e57, #605d80);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  align-items: center;
  z-index: 4;
}

.weather-data {
  width: 100%;
  display: flex;
  column-gap: 0.5rem;
  padding: 0 1rem;
  margin-top: 2rem;
  z-index: 1;
}

.weather-data > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1rem;
  border-radius: 1rem;
}

.data-name {
  font-size: 1.2rem;
}
.weather-data i {
  position: relative;
  font-size: 1.5rem;
  color: #5a5858;
  text-shadow: -0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
}

.data {
  font-size: 1.2rem;
}

.weather img {
  position: absolute;
  z-index: 0;
  margin-top: 10rem;
  right: 0;
  max-width: 50%;
  max-height: 50%;
}

.toggle-button {
  font-family: "Lilita One";
  padding: 0.6rem;
  background-color: transparent;
  border: 0.05rem solid #8d8c96;
  border-radius: 3rem;
  outline: none;
}
.toggle-button:active {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}
